<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>E-Web-Store</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>AdminLogInPageLoader</servlet-name>
		<servlet-class>com.ewebstore.controller.AdminLogInPageLoader</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminLogInPageLoader</servlet-name>
		<url-pattern>/adminlogin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogInController</servlet-name>
		<servlet-class>com.ewebstore.controller.LogInController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LogInController</servlet-name>
		<url-pattern>/login.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminHomePageLoader</servlet-name>
		<servlet-class>com.ewebstore.controller.AdminHomePageLoader</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminHomePageLoader</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>com.ewebstore.controller.LogoutController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/logout.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminProfilePageLoader</servlet-name>
		<servlet-class>com.ewebstore.controller.AdminProfilePageLoader</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminProfilePageLoader</servlet-name>
		<url-pattern>/adminprofile</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddGenericProductPageLoader</servlet-name>
		<servlet-class>com.ewebstore.controller.AddGenericProductPageLoader</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddGenericProductPageLoader</servlet-name>
		<url-pattern>/addgenericproduct</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SubmitNewGenericProductController</servlet-name>
		<servlet-class>com.ewebstore.controller.SubmitNewGenricProductController</servlet-class>
		<multipart-config>
			<!-- In this case empty, but can contain additional nested elements -->
		</multipart-config>
	</servlet>

	<servlet-mapping>
		<servlet-name>SubmitNewGenericProductController</servlet-name>
		<url-pattern>/addgenericproduct.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddProductToStockPageLoader</servlet-name>
		<servlet-class>com.ewebstore.controller.AddProductToStockPageLoader</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddProductToStockPageLoader</servlet-name>
		<url-pattern>/addproducttostock</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SubmitStockProductAdditionController</servlet-name>
		<servlet-class>com.ewebstore.controller.SubmitStockProductAdditionController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SubmitStockProductAdditionController</servlet-name>
		<url-pattern>/addproducttostock.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AdminProductSearchController</servlet-name>
		<servlet-class>com.ewebstore.controller.AdminProductSearchController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AdminProductSearchController</servlet-name>
		<url-pattern>/searchgenericproduct</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddEmployeePageLoader</servlet-name>
		<servlet-class>com.ewebstore.controller.AddEmployeePageLoader</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddEmployeePageLoader</servlet-name>
		<url-pattern>/addemployee</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SubmitAddEmployeeController</servlet-name>
		<servlet-class>com.ewebstore.controller.SubmitAddEmployeeController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SubmitAddEmployeeController</servlet-name>
		<url-pattern>/addemployee.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EditEmployeePageLoader</servlet-name>
		<servlet-class>com.ewebstore.controller.EditEmployeePageLoader</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EditEmployeePageLoader</servlet-name>
		<url-pattern>/editemployee</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EditEmployeeFormLoader</servlet-name>
		<servlet-class>com.ewebstore.controller.EditEmployeeFormLoader</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EditEmployeeFormLoader</servlet-name>
		<url-pattern>/editemployeeform.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SubmitEditEmployeeFormController</servlet-name>
		<servlet-class>com.ewebstore.controller.SubmitEditEmployeeFormController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SubmitEditEmployeeFormController</servlet-name>
		<url-pattern>/editemployee.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RemoveEmployeePageLoader</servlet-name>
		<servlet-class>com.ewebstore.controller.RemoveEmployeePageLoader</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RemoveEmployeePageLoader</servlet-name>
		<url-pattern>/removeemployee</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SubmitRemoveEmployeeController</servlet-name>
		<servlet-class>com.ewebstore.controller.SubmitRemoveEmployeeController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SubmitRemoveEmployeeController</servlet-name>
		<url-pattern>/removeemployee.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AvailableEmployeesPageLoader</servlet-name>
		<servlet-class>com.ewebstore.controller.AvailableEmployeesPageLoader</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AvailableEmployeesPageLoader</servlet-name>
		<url-pattern>/availableemployees</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AllEmployeesPageLoader</servlet-name>
		<servlet-class>com.ewebstore.controller.AllEmployeesPageLoader</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AllEmployeesPageLoader</servlet-name>
		<url-pattern>/allemployees</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>QueuedOrdersPageLoader</servlet-name>
		<servlet-class>com.ewebstore.controller.QueuedOrdersPageLoader</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>QueuedOrdersPageLoader</servlet-name>
		<url-pattern>/queuedorders</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeliveredOrdersPageLoader</servlet-name>
		<servlet-class>com.ewebstore.controller.DeliveredOrdersPageLoader</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DeliveredOrdersPageLoader</servlet-name>
		<url-pattern>/completedeliveries</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>OnDeliveryOrdersPageLoader</servlet-name>
		<servlet-class>com.ewebstore.controller.OnDeliveryOrdersPageLoader</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>OnDeliveryOrdersPageLoader</servlet-name>
		<url-pattern>/ondeliveryorders</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ShowOrderDetailsController</servlet-name>
		<servlet-class>com.ewebstore.controller.ShowOrderDetailsController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ShowOrderDetailsController</servlet-name>
		<url-pattern>/order</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DispatchOrdersFormLoader</servlet-name>
		<servlet-class>com.ewebstore.controller.DispatchOrdersFormLoader</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DispatchOrdersFormLoader</servlet-name>
		<url-pattern>/dispatchorders</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SubmitDispatchOrderController</servlet-name>
		<servlet-class>com.ewebstore.controller.SubmitDispatchOrderController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SubmitDispatchOrderController</servlet-name>
		<url-pattern>/dispatchorder.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ConfirmOrderDeliveryPageLoader</servlet-name>
		<servlet-class>com.ewebstore.controller.ConfirmOrderDeliveryPageLoader</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ConfirmOrderDeliveryPageLoader</servlet-name>
		<url-pattern>/confirmdelivery</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ConfirmOrderDeliverySubmissionController</servlet-name>
		<servlet-class>com.ewebstore.controller.ConfirmOrderDeliverySubmissionController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ConfirmOrderDeliverySubmissionController</servlet-name>
		<url-pattern>/confirmdelivery.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>InventoryTransferSendRequestsPageLoader</servlet-name>
		<servlet-class>com.ewebstore.controller.InventoryTransferSendRequestsPageLoader</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>InventoryTransferSendRequestsPageLoader</servlet-name>
		<url-pattern>/productssendrequests</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>InventoryTransferReceiveRequestsPageLoader</servlet-name>
		<servlet-class>com.ewebstore.controller.InventoryTransferReceiveRequestsPageLoader</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>InventoryTransferReceiveRequestsPageLoader</servlet-name>
		<url-pattern>/productsreceiverequests</url-pattern>
	</servlet-mapping>

		<servlet>
		<servlet-name>DispatchInventoryTransferController</servlet-name>
		<servlet-class>com.ewebstore.controller.DispatchInventoryTransferController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DispatchInventoryTransferController</servlet-name>
		<url-pattern>/dispatchinventorytransfer.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ReceiveInventoryTransferController</servlet-name>
		<servlet-class>com.ewebstore.controller.ReceiveInventoryTransferController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ReceiveInventoryTransferController</servlet-name>
		<url-pattern>/receiveinventorytransfer.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CustomerHomePageLoader</servlet-name>
		<servlet-class>com.ewebstore.controller.customer.CustomerHomePageLoader</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CustomerHomePageLoader</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CategoryPageLoader</servlet-name>
		<servlet-class>com.ewebstore.controller.customer.CategoryPageLoader</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CategoryPageLoader</servlet-name>
		<url-pattern>/category</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ProductPageLoader</servlet-name>
		<servlet-class>com.ewebstore.controller.customer.ProductPageLoader</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ProductPageLoader</servlet-name>
		<url-pattern>/product</url-pattern>
	</servlet-mapping>
</web-app>